<!DOCTYPE html>
<html>
  <head>
    <title>Marker Clustering</title>
    <style>
      #map {
        height: 100%;
        width: 100%;
      }
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
   <script>
        function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: { lat: 31.963158, lng: 35.930359 },
        });
        const locations = [
        { lat:31.963158, lng: 35.930359 },
        { lat:31.167261204172757,lng:35.7683820055919 },
        { lat:31.16979413606654, lng:35.73002386928904 },
        { lat:31.16572714206657, lng:35.74728503062533 },
        { lat:29.56631546630601, lng:35.00627556331416 },
        { lat:29.550271320363965,lng:35.02134859989821 },
        { lat:29.543887457110408,lng:35.00627556331416 },
        { lat:32.13443326561075, lng:35.868605556024576 },
        { lat:32.126874062637455,lng:36.07047932774868 },
        { lat:32.5346040091746,  lng:35.900270056371696 },
        { lat:32.54129715239183, lng:35.889755797427725 },
        { lat:32.57233729097036, lng:35.914689162961096 },
      ];
        // pool.query(`Select lat, lng from locations`, (err, results) => {
        //   if (err) {
        //     console.log(err);
        //     return;
        //   }
        //   console.log(results.rows);
        //   for (i = 0; i < results.rows.length; i++) {
        //     locations.push(results.rows[i]);
        //   }
        // });
        maxZoomService = new google.maps.MaxZoomService();
        const labels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        const markers = locations.map((location, i) => {
          return new google.maps.Marker({
            position: location,
            draggable: true,
            // icon: "./Af_4_15.png",
            animation: google.maps.Animation.DROP,
            //label: labels[i % labels.length],
          });
        });
        new MarkerClusterer(map, markers, {
          imagePath:
            "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m",
        });
      }
   </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVfNkKSSL4VBiLxF6w-AKvLJSOXM34hUk&callback=initMap&libraries=&v=weekly&channel=2"
      async defer>
        </script>
    
    </body>
</html>
